aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==25.3.0
beautifulsoup4==4.14.2
bs4==0.0.2
certifi==2025.8.3
chardet==3.0.4
gallery_dl==1.30.9
idna==2.10
multidict==6.1.0
packaging==25.0
propcache==0.2.0
python-dotenv==1.0.1
requests==2.23.0
saucenao-api==2.4.0
selenium==3.141.0
selenium-stealth==1.0.6
soupsieve==2.7
typing_extensions==4.13.2
urllib3==1.25.11
webdriver-manager==4.0.2
yarl==1.15.2
